.product {
  .container ();
}
  .product__title {
    padding-top: 28px;
    padding-bottom: 3px;
  }
  .product__slogan {
    text-transform: uppercase;
    font-size: 17px;
    line-height: 20px;
    font-weight: 600;
    color: @color-green;
  }
  .product__wrapper {
    padding-top: 35px;
    padding-bottom: 37px;
  }
  .product__text {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: @color-grey;
    padding-bottom: 5px
  }
  .product__table {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: @color-grey;
    border-collapse: collapse;
    margin-bottom: 28px;
      .product__row {
      border-bottom: 1px solid @light-grey;
        .product__feature {
          padding-top: 8px;
          padding-bottom: 7px;
        }
        .product__value {
          padding-left: 32px;
        }
  }
}
  .product__image {
    width: 260px;
    height: 316px;
    background: url("../img/triple-set-mobile@1x.jpg") no-repeat;
  }

  .product__price {
    font-size: 17px;
    line-height: 24px;
    font-weight: 600;
    color: @color-grey;
    padding-top: 7px;
    padding-bottom: 29px;
    text-align: center;
  }

@media @tablet-widths {
  .product {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  .product__title {
    text-align: left;
    width: 500px;
    box-sizing: border-box;
    margin-right: 72px;
    padding-top: 54px;
    padding-bottom: 6px;
  }
  .product__slogan {
    width: 80px;
    text-align: center;
    padding-top: 70px;
    box-sizing: border-box;
    }
  .product__wrapper {
    width: 50%;
    padding-top: 24px;
  }
  .product__image {
    position: absolute;
    right: 0;
    top: 151px;
    width: 334px;
  }
  .product__text {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    color: @color-grey;
    padding-right: 35px;
    padding-bottom: 19px;
  }
  .product__price {
    font-size: 20px;
    line-height: 24px;
    padding-top: 28px;
  }
}

@media @desktop-widths {
  .product__title {
    position: absolute;
    z-index: 2;
  }
  .product__slogan {
    padding-top: 140px;
    position: absolute;
  }
  .product__wrapper {
    width: 50%;
    padding-left: 175px;
    padding-top: 235px;
    padding-bottom: 70px;
    padding-right: 50px;
  }
  .product__image {
    width: 525px;
    z-index: 1;
  }
}
